{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}
{% block title %}
    All Courses
{% endblock %}

{% block body %}
    <div class="container text-center">
        <div>User id:{{ user.id }}</div>
        course_list.html
        <table class="text-center table">
            <caption>Courses</caption>
            <thead>
            <tr>
                <th scope="col">Course Key</th>
                <th scope="col">Instance Key</th>
                <th scope="col">Name</th>
                <th scope="col">Identity</th>
                <th scope="col">Git</th>
                <th scope="col">Operations</th>
            </tr>
            </thead>
            <tbody>
            {% for each in courses %}
                <tr>
                    <td>{{ each.course_key }}</td>
                    <td>{{ each.instance_key }}</td>
                    <td>{{ each.name }}</td>
                    <td>
                        <ul style="list-style-type: none">
                            {% for owner in each.owners %}
                                <li>
                                    {{ owner.name }}
                                </li>
                            {% endfor %}

                        </ul>


                    </td>
                    <td>{{ each.git_origin }}:{{ each.branch }}</td>
                    <td>
                        <form method="post" action="/courses/delete/{{ each.course_key }}/{{ each.instance_key }}/">
{#                            <a class=" btn btn-outline-primary" data-toggle="collapse" href="#{{ each.key }}"#}
{#                               role="button" aria-expanded="false" aria-controls="collapseExample">#}
{#                                View instances#}
{#                            </a>#}
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="location.href='/courses/edit/{{ each.course_key }}/{{ each.instance_key }}/'">Edit
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="location.href='/courses/create/?course={{ each.course_key }}&instance={{ each.instance_key }}'">Duplicate
                            </button>
                            <button type="button" class="btn btn-outline-primary owner_groups" 
                                    data-course={{each.course_key}} data-instance={{each.instance_key}}>Owner groups
                            </button>
                            <button type="submit" class="btn btn-outline-danger are-you-sure">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
<div id="content">
        {% block content %}
        {% include 'groups/owner_groups.html' %}
        {% endblock %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="{{ url_for('static', filename='owner_groups.js') }}"></script>
    <script src="../../static/are_you_sure.js"></script>
{% endblock %}
