{% extends 'base.html' %}
{% block title %}
    Edit Course
{% endblock %}
{% block head %}
<link rel="shortcut icon" href="">
{% endblock %}
{% block body %}
    <div class="container text-center">
        {% from "_formhelpers.html" import render_field %}
        <form action="" method=post>
            <dl class="form-group">
                {{ render_field(form.course_key, class='form-control') }}
                {{ render_field(form.name,class='form-control') }}
                {{ render_field(form.instance_key, class='form-control') }}
                {{ render_field(form.git_origin, class='form-control') }}
                {{ render_field(form.branch, class='form-control') }}
                {{ render_field(form.identity, class='form-control') }}
                {{ render_field(form.owner_group, class='form-control') }}

            </dl>
            {% block button %}
                <p><input type=submit class="btn-lg btn-outline-primary " value=Submit>
                    <input type="button" onclick="location.href='/courses/'" 
                    class="btn-lg btn-outline-secondary " value=Cancel>
                </p>
            {% endblock %}
        </form>
    </div>
{% endblock %}