{% extends 'base.html' %}    <div class="container text-center">
        <div>User id:{{ user.id }}</div>
{% block title %}
    Welcome to Shepherd
{% endblock %}

{% block body %}
    <div class="container text-center">
    <div>Hi, {{ user.display_name }} {{ user.sorting_name }}!</div>
            <div>Your user ID is :{{ user.id }}</div>
                    <table class="text-center table">
                                <caption>Instances Build State</caption>
                    <thead>
                    <tr>
                        <th scope="col">Course Key</th>
                        <th scope="col">Instance Key</th>
                        <th scope="col">Build Number</th>
                        <th scope="col">Shepherd Step</th>
                         <th scope="col">State</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ins in instances %}
                        <tr onclick="window.location.href='/logs/{{ ins.instance_id }}/'">
                            <td>{{ ins.course_key }}</td>
                            <td>{{ ins.instance_key }}</td>
                            <td class="table-number" id="{{ ins.instance_id }}">{{ ins.number }}</td>
                            <td class="table-action" id="{{ ins.instance_id }}">{{ ins.current_step }}</td>
                            <td class="table-state" id="{{ ins.instance_id }}">{{ ins.current_state }}</td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
    </div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="../static/socketio.js"></script>
{% endblock %}