{% extends 'base.html' %}
{% block head %}
    <script src="../static/are_you_sure.js"></script>
{% endblock %}
{% block title %}
    All Courses
{% endblock %}

{% block body %}
    <div class="container text-center">
        <div>User id:{{ user.id }}</div>
        {% for each in courses %}
            <div class="collapse" id="{{ each.key }}">
                <table class="text-center table">
                    <thead>
                    <tr>
                        <th scope="col">Course Key</th>
                        <th scope="col">Key</th>
                        <th scope="col">Instance Repo</th>
                        <th scope="col">Branch</th>
                        <th scope="col">Operations</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for branch in each.instance %}
                        <tr>
                            <td>{{ branch.course_key }}</td>
                            <td>{{ branch.key }}</td>
                            <td>{{ branch.git_origin }}</td>
                            <td>{{ branch.branches }}</td>
                            <td>
                                <form method="post" action="/courses/delete/{{ each.key }}/{{ branch.key }}/">
                                    <button type="button" class="btn btn-outline-primary"
                                            onclick="location.href='/courses/edit/{{ each.key }}/{{ branch.key }}/'">
                                        Edit
                                    </button>
                                    <button type="submit" class="btn btn-outline-danger are-you-sure">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>

            </div>
        {% endfor %}
        <table class="text-center table">
            <caption>Courses</caption>
            <thead>
            <tr>

                <th scope="col">Key</th>
                <th scope="col">Course Name</th>
                <th scope="col">Course Repo</th>
                <th scope="col">Operations</th>
            </tr>
            </thead>
            <tbody>
            {% for each in courses %}
                <tr>

                    <td>{{ each.key }}</td>
                    <td>{{ each.name }}</td>
                    <td>{{ each.git_origin }}</td>

                    <td>

                        <form method="post" action="/courses/delete/{{ each.key }}/">
                            <a class=" btn btn-outline-primary" data-toggle="collapse" href="#{{ each.key }}"
                               role="button" aria-expanded="false" aria-controls="collapseExample">
                                View instances
                            </a>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="location.href='/courses/edit/{{ each.key }}/'">Edit
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="location.href='/courses/create/{{ each.key }}/'">New Instance
                            </button>
                            <button type="submit" class="btn btn-outline-danger are-you-sure">Delete</button>
                        </form>
                    </td>

                </tr>


            {% endfor %}

            </tbody>

        </table>
    </div>

{% endblock %}