{% extends 'base.html' %}
{% block head %}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
<script src="{{ url_for('static', filename='helpers.js') }}"></script>
<script>
$(function(){  // DOM ready shorthand

$("#permissions-self_admin").prop('checked', true);

// other code here

});
</script>
<script>
$(function() {
// Get the form fields and hidden div
var checkbox = $("#permissions-courses");
var hidden = $("#div_course_prefix");
console.log(checkbox)

// Hide the fields.
// Use JS to do this in case the user doesn't have JS 
// enabled.
hidden.hide();

// Setup an event listener for when the state of the 
// checkbox changes.
checkbox.change(function() {
  // Check to see if the checkbox is checked.
  // If it is, show the fields and populate the input.
  // If not, hide the fields.
  if (checkbox.is(':checked')) {
    // Show the hidden fields.
    hidden.show();
  } else {
    // Make sure that the hidden fields are indeed
    // hidden.
    hidden.hide();
    
    // You may also want to clear the value of the 
    // hidden fields here. Just in case somebody 
    // shows the fields, enters data to them and then 
    // unticks the checkbox.
    //
    // This would do the job:
    //
    // $("#hidden_field").val("");
  }
});
});  
</script>

<script>
  $(function() {
  // Get the form fields and hidden div
  var checkbox = $("#permissions-groups");
  var hidden = $("#div_target_groups");
  console.log(checkbox)
  
  // Hide the fields.
  // Use JS to do this in case the user doesn't have JS 
  // enabled.
  hidden.hide();
  
  // Setup an event listener for when the state of the 
  // checkbox changes.
  checkbox.change(function() {
    // Check to see if the checkbox is checked.
    // If it is, show the fields and populate the input.
    // If not, hide the fields.
    if (checkbox.is(':checked')) {
      // Show the hidden fields.
      hidden.show();
    } else {
      // Make sure that the hidden fields are indeed
      // hidden.
      hidden.hide();
      
      // You may also want to clear the value of the 
      // hidden fields here. Just in case somebody 
      // shows the fields, enters data to them and then 
      // unticks the checkbox.
      //
      // This would do the job:
      //
      // $("#hidden_field").val("");
    }
  });
  });  
  </script>
<script>
$(function(){
var urlParams = new URLSearchParams(window.location.search);
var from_course = urlParams.get('from_course');
var success = urlParams.get('sucess');
var group_id = urlParams.get('group_id');
console.log(from_course)
console.log(success)
console.log(group_id)
if ((from_course == 'true') && (success == 'true'))
{
  console.log('test')
  window.location.href ='/courses/create/'+'?owner_id='+group_id
} 
});
</script>
 
{% endblock %}

{% block title %}
    Add New group
{% endblock %}

{% block body %}
    <div class="container text-center">
        {% from "_formhelpers.html" import render_field %}
        <form id='group_from' method=post >
            <dl class="form-group">
                <dt>{{form.name.label}} </dt>
                <dd>{{ form.name }}</dd>
                {% if not parent %}
                <dt>{{form.parent_path.label}} </dt>
                <dd>{{ form.parent_path }}</dd>
                {% endif %}
                {{ render_field(form.permissions) }}
                <div id="div_course_prefix">
                   <strong>{{form.course_prefix.label}}</strong><br>
                        {{ form.course_prefix }}
                </div>
                <div id="div_target_groups">
                    <strong>{{form.target_groups.label}}</strong><br>
                         {{ form.target_groups }}
                </div>
            </dl>
            {% block button %}
                <p><input type=submit class="btn-lg btn-outline-primary " value=Create>
                    <input type="button" onclick="location.href='/groups/'" class="btn-lg btn-outline-secondary "
                           value=Cancel>
                </p>
            {% endblock %}
        </form>
    </div>


{% endblock %}