{% extends 'base.html' %}
{% block head %}
    <script src="../../../static/are_you_sure.js"></script>
{% endblock %}
{% block title %}
    Group list
{% endblock %}

{% block body %}
<h1 style = "font-size:50px;">
        <strong>{{title}}</strong>
        {%if group %}
            <button type="button" class="btn btn-outline-primary"
            onclick="location.href='/groups/{{ group.id }}/create/'">Create subgroup 
            </button>
            {% if not group.parent %}
                <button type="button" class="btn btn-outline-primary"
                onclick="location.href='/groups/'">Return 
                </button>
            {% else %}
                <button type="button" class="btn btn-outline-primary"
                        onclick="location.href='/groups/{{ group.parent_id }}/subgroups/'">Return 
                </button>
            {% endif %}
        {% else %}
        <button type="button" class="btn btn-outline-primary"
        onclick="location.href='/groups/create/'">Create group 
        </button>
        {% endif %}
</h1>
    
    <div  style = "font-family:georgia,garamond,serif;font-size:30px;font-style:italic;">
        <ul>
            {%- for group in roots recursive %}
            <li>
            {{ '-' * (loop.depth-1) }}{{group.name}} 
            <form method="post" action="{{ url_for('groups.delete_group', group_id=group.id) }}">
                <button type="button" class="btn btn-outline-primary"
                onclick="location.href='/groups/{{ group.id }}/subgroups/'">Subgroups
                </button>
                <button type="button" class="btn btn-outline-primary"
                onclick="location.href='/groups/edit/{{ group.id }}/'">Edit
                </button>
                <button type="submit" class="btn btn-outline-danger are-you-sure">Delete</button>
            </form>
           
            </li>
            {%- if group.children -%}
                {{ loop(group.children) }}
            {%- endif %}
            {%- endfor %}
        </ul>
    </div>
{% endblock %}