{% extends 'base.html' %}
{% block title %}
    Edit group
{% endblock %}
{% block head %}
    <!-- <script src="../../../static/are_you_sure.js"></script> -->
    <script src="{{ url_for('static', filename='are_you_sure.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container text-center">
        {% from "_formhelpers.html" import render_field %}
        <div>Group: <strong>{{ group_slug }}</strong></div>
        <div><strong>Permissions: {{permissions}}</strong>
        </div>
        <form method="POST">
                <dl class="form-group">
                    <dd>
                        {{ form.name.label }} {{ form.name }} 
                        <button type="submit" class="btn btn-outline-danger are-you-sure" 
                        name="edit" value="rename"> Rename </buttton>
                    </dd>
                    <dd>
                        {{ form.parent_path.label }} {{ form.parent_path}} 
                        <button type="submit" class="btn btn-outline-danger are-you-sure" 
                        name="edit" value="update parent path"> Update parent path </buttton>
                    </dd>
                    <dd>
                        {{ form.permissions.label }} {{ form.permissions()}} 
                        <button type="submit" class="btn btn-outline-danger are-you-sure" 
                        name="edit" value="update permissions"> Update permissions </buttton>
                    </dd>
                </dl>
        </form>
    </div>
{% endblock %}