{% extends 'base.html' %}
{% block head %}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
<script src="{{ url_for('static', filename='helpers.js') }}"></script>
<script>
$(function(){  // DOM ready shorthand

$("#permissions-self_admin").prop('checked', true);

// other code here

});
</script>
{% endblock %}

{% block title %}
    Add New group
{% endblock %}

{% block body %}
    <div class="container text-center">
        {% from "_formhelpers.html" import render_field %}
        <form method=post >
            <dl class="form-group">
                <dt>{{form.name.label}} </dt>
                <dd>{{ form.name }}</dd>
                {% if not parent %}
                <dt>{{form.parent_path.label}} </dt>
                <dd>{{ form.parent_path }}</dd>
                {% endif %}
                {{ render_field(form.permissions) }}
                <div id="div_course_prefix">
                   <strong>{{form.course_prefix.label}}</strong><br>
                        {{ form.course_prefix }}
                </div>
                <div id="div_target_groups">
                    <strong>{{form.target_groups.label}}</strong><br>
                         {{ form.target_groups }}
                </div>
            </dl>
            {% block button %}
                <p><input type=submit class="btn-lg btn-outline-primary " value=Create>
                    <input type="button" onclick="location.href='/groups/'" class="btn-lg btn-outline-secondary "
                           value=Cancel>
                </p>
            {% endblock %}
        </form>
    </div>


{% endblock %}