{% extends 'base.html' %}
{% block title %}
    Group list
{% endblock %}

{% block body %}
<h1 style = "font-size:50px;">
        <strong>{{title}}</strong>
</h1>
    
    <div  style = "font-family:georgia,garamond,serif;font-size:30px;font-style:italic;">
        <ul>
            {%- for group,slug in groups %}
            <li class='group' value={{group.id}}>
            {{slug}} <br>
            <form class="delete_form" value={{ group.id }} method="post" action="{{ url_for('groups.delete_group', group_id=group.id) }}"> 
                    <button type="button" class="btn btn-outline-primary"
                    onclick="location.href='/groups/{{ group.id }}/members/'">Members
                    </button>
                    <button type="button" class="btn btn-outline-primary"
                    onclick="location.href='/groups/{{ group.id }}/subgroups/'">Subgroups
                    </button>
                    <button type="button" class="btn btn-outline-primary"
                    onclick="location.href='/groups/edit/{{ group.id }}/'">Edit
                    </button>
                    <button type="button" class="btn btn-outline-primary"
                    onclick="location.href='/groups/{{group.id }}/create/'">New subgroup 
                    </button>
                    <button name='delete_btn' value={{ group.id }} type="submit" class="btn btn-outline-danger are-you-sure delete">Delete</button> 
            </form>
            </li>
            {% endfor %} 
        </ul>
    </div>
{% include 'groups/move_courses.html' %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='are_you_sure.js') }}"></script>
<script src="{{ url_for('static', filename='my_groups.js') }}"></script>
{% endblock %}

